pipeline/Copy_Mulitiple_Table.json
{
	"name": "Copy_Mulitiple_Table",
	"properties": {
		"activities": [
			{
				"name": "Get list of tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT * FROM ALL_TABLES WHERE OWNER='IDP_REPOS' AND TABLE_NAME in ('PARTY_CONTACT_CHNL','PARTY','PARTY_NAME','PARTY_IDENT','PERSON','PHONE_NUM')",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Oracle_IDPStage",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get list of tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list of tables').output.iteam()",
						"type": "Expression"
					},
					"batchCount": 6,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": "select * from all_tables where owner='IDP_REPOS' and table_name IN('PHONE_NUM','PARTY','PARTY_NAME','PARTY_IDENT','PARTY_CONTACT_CHNL','PERSON')",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_IDP_REPOS_SRC",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BLOB_TGT",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@activity('Get list of tables').output.values()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "MDM"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-29T19:25:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}