pipeline/MDM_CODS_FRAMEWORK_MDMU.json
{
	"name": "MDM_CODS_FRAMEWORK_MDMU",
	"properties": {
		"activities": [
			{
				"name": "GetMDMLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_LOADID('INITIATED','@{pipeline().parameters.IN_BATCH_NM}',0)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NEW_LOAD_ID_ASSIGN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetMDMLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NEW_MDM_LOAD_ID",
					"value": {
						"value": "@string(activity('GetMDMLoadId').output.firstRow.PRC_MDM_ETL_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DELTA",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "NEW_LOAD_ID_ASSIGN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_MDM.PRC_CODS_AUDIT_DELTA(@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_DELTA}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "CODS_DELTA",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "INITIATE_AZURE_LANDING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "SELECT SOURCE_KEY\t,\nPSEUDO_MDM_ID\t,\nSSN\t,\nNVL(DATE_OF_BIRTH,NULL) DATE_OF_BIRTH,\nSALESFORCE_CONTACT_ID\t,\nSOURCE_SYSTEM\t,\nSOURCE_SYSTEM_UNDERLYING\t,\nNVL(AS_OF_DATE,NULL) AS_OF_DATE\t,\nPARTY_TYPE\t,\nTIN_TYPE\t,\nFULL_NAME\t,\nPREFIX_NAME\t,\nFIRST_NAME\t,\nMIDDLE_NAME\t,\nLAST_NAME\t,\nSUFFIX_NAME\t,\nGENDER\t,\nNVL(END_DATE,NULL) END_DATE\t,\nCHANGE_CODE\t,\nSWFDL_LOAD_ID\t,\nSWFDL_CREATED_TS\t,\nSWFDL_CREATED_BY\t,\nSWFDL_UPDATED_TS ,\nSWFDL_UPDATED_BY FROM MYVOYAGE_MDM.RS_CODS_REPOS_PARTY_DELTA",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "vesstzuc1unitedm001_SF_SAS",
							"type": "LinkedServiceReference"
						},
						"path": "snowflakeextstaging/sftosql"
					},
					"enableSkipIncompatibleRow": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "ls_dfs_vesstzuc1unitedm001",
								"type": "LinkedServiceReference"
							},
							"path": "test/CODS_SF2AZURE"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SOURCE_KEY",
									"type": "String"
								},
								"sink": {
									"name": "SOURCE_KEY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PSEUDO_MDM_ID",
									"type": "String"
								},
								"sink": {
									"name": "PSEUDO_MDM_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SSN",
									"type": "String"
								},
								"sink": {
									"name": "SSN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DATE_OF_BIRTH"
								},
								"sink": {
									"name": "DATE_OF_BIRTH"
								}
							},
							{
								"source": {
									"name": "SALESFORCE_CONTACT_ID",
									"type": "String"
								},
								"sink": {
									"name": "SALESFORCE_CONTACT_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SOURCE_SYSTEM",
									"type": "String"
								},
								"sink": {
									"name": "SOURCE_SYSTEM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SOURCE_SYSTEM_UNDERLYING",
									"type": "String"
								},
								"sink": {
									"name": "SOURCE_SYSTEM_UNDERLYING",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AS_OF_DATE"
								},
								"sink": {
									"name": "AS_OF_DATE"
								}
							},
							{
								"source": {
									"name": "PARTY_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "PARTY_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TIN_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "TIN_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FULL_NAME",
									"type": "String"
								},
								"sink": {
									"name": "FULL_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PREFIX_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PREFIX_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MIDDLE_NAME",
									"type": "String"
								},
								"sink": {
									"name": "MIDDLE_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SUFFIX_NAME",
									"type": "String"
								},
								"sink": {
									"name": "SUFFIX_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "GENDER",
									"type": "String"
								},
								"sink": {
									"name": "GENDER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "END_DATE"
								},
								"sink": {
									"name": "END_DATE"
								}
							},
							{
								"source": {
									"name": "CHANGE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "CHANGE_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "Int64"
								},
								"sink": {
									"name": "batch_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "DateTime"
								},
								"sink": {
									"name": "createDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "createdBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "DateTime"
								},
								"sink": {
									"name": "lastUpdateDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "lastUpdatedBy",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CODS_DELTA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CODS_DELTA_STG",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "INITIATE_AZURE_LANDING",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DELTA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_AUDIT('INITIATED',@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_DELTA_STG}',null,null,NULL,NULL,NULL,NULL);",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPLETE_AZURE_LANDING",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_AUDIT('COMPLETED',@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_DELTA_STG}',null,null,@{activity('Copy data1').output.RowsRead},@{activity('Copy data1').output.rowsCopied},NULL,NULL);",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPLETE_LOADID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "COMPLETE_AZURE_LANDING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_LOADID('COMPLETED','@{pipeline().parameters.IN_BATCH_NM}',@{variables('NEW_MDM_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "COMPLETE_LOADID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "CODS_NULL_HANDLER",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"IN_BATCH_NM": {
				"type": "string",
				"defaultValue": "CODS_MDM_LOAD"
			},
			"ENTITY_NM_DELTA": {
				"type": "string",
				"defaultValue": "RS_CODS_REPOS_PARTY_DELTA"
			},
			"ENTITY_NM_DELTA_STG": {
				"type": "string",
				"defaultValue": "RS_CODS_REPOS_PARTY_DELTA_STG"
			}
		},
		"variables": {
			"NEW_MDM_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/i729142 - V"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-27T17:36:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}