pipeline/MDM_PUBLISH_2_SF_REF_PERSON_XREF_FRAMEWORK.json
{
	"name": "MDM_PUBLISH_2_SF_REF_PERSON_XREF_FRAMEWORK",
	"properties": {
		"activities": [
			{
				"name": "Publish to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "INITIATE_PUBLISH_REF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "REF_AS_OF_DATE",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							},
							{
								"name": "CURRENT_FLAG",
								"value": "N"
							}
						],
						"sqlReaderQuery": {
							"value": "select * from MDM_PUBLISH.@{pipeline().parameters.ENTITY_NM} where @{pipeline().parameters.LAST_UPDATED_TS} > = '@{variables('MAX_LAST_TS')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SourceIdentifier",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "SourceIdentifierType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "SourceSystem",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "SSN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "DateOfBirth",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"name": "MDM_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"name": "CreateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"name": "LastUpdateDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"name": "LastUpdatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							},
							{
								"source": {
									"name": "PARTY_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 11
								}
							},
							{
								"source": {
									"name": "REF_AS_OF_DATE"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 12
								}
							},
							{
								"source": {
									"name": "CURRENT_FLAG"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 13
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PUBLISH_PERSON_XREF",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "personXref",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "updating flag",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "COMPLETE_PUBLISH_REF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_REFERENCE.PRC_PUBLISH_2_REF('@{pipeline().parameters.SCHEMA_NM}','@{pipeline().parameters.ENTITY_NM}','@{pipeline().parameters.PRIMARY_KEYS}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "REF_PERSON_XREF1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MAX_LAST_TS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET_MAX_LAST_TS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAX_LAST_TS",
					"value": {
						"value": "@activity('GET_MAX_LAST_TS').output.firstRow.LOAD_START_TS",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET_MAX_LAST_TS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "NEW_LOAD_ID_ASSIGN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "SELECT NVL(MAX(LOAD_START_TS),'1900-01-01 01:01:01.842') AS LOAD_START_TS FROM MYVOYAGE_MDM.MDM_ETL_AUDIT WHERE UPPER(TRIM(BATCH_NM))=UPPER(TRIM('@{pipeline().parameters.IN_BATCH_NM}')) AND UPPER(TRIM(ENTITY_NM))=UPPER(TRIM('@{pipeline().parameters.ENTITY_NM}'))  AND  ENTITY_LOAD_STATUS = 'COMPLETED' AND LOAD_ID <> @{variables('NEW_MDM_LOAD_ID')}",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand",
							"additionalFormatOptions": {
								"TIMESTAMP_FORMAT": "'YYYY-MM-DD HH24:MI'"
							}
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ADLS to Reference tbl",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Publish to ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_REFERENCE\".\"MDM_PERSON_XREF\"(\"SOURCEIDENTIFIER\",\"SOURCEIDENTIFIERTYPE\",\"SOURCESYSTEM\",\"SSN\",\"DATEOFBIRTH\",\"MDM_ID\",\"CREATEDATETIME\",\"CREATEDBY\",\"LASTUPDATEDATETIME\",\"LASTUPDATEDBY\",\"PARTY_ID\",\"REF_AS_OF_DATE\",\"CURRENT_FLAG\") FROM (select $1,  $2, $3,$4, $5, $6, $7, $8, $9, $10, $11, $12, $13 from  @MYVOYAGE_REFERENCE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/Publish/PXref/PersonXref.csv\n (file_format => 'MYVOYAGE_CLEANSED.HDROFF_PUBLISH_TABLE'))FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = CONTINUE;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "REF_PERSON_XREF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetMDMLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_LOADID('INITIATED','@{pipeline().parameters.IN_BATCH_NM}',0)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NEW_LOAD_ID_ASSIGN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetMDMLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NEW_MDM_LOAD_ID",
					"value": {
						"value": "@string(activity('GetMDMLoadId').output.firstRow.PRC_MDM_ETL_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "INITIATE_PUBLISH_REF",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "MAX_LAST_TS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_AUDIT('INITIATED',@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM}',null,null,NULL,NULL,NULL,NULL);",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPLETE_PUBLISH_REF",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ADLS to Reference tbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_AUDIT('COMPLETED',@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM}',null,null,@{activity('Publish to ADLS').output.RowsRead},@{activity('Publish to ADLS').output.rowsCopied},NULL,NULL);",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPLETE_LOADID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "updating flag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_LOADID('COMPLETED','@{pipeline().parameters.IN_BATCH_NM}',@{variables('NEW_MDM_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_LOAD_ID",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"SCHEMA_NM": {
				"type": "string",
				"defaultValue": "MYVOYAGE_REFERENCE"
			},
			"ENTITY_NM": {
				"type": "string",
				"defaultValue": "MDM_PERSON_XREF"
			},
			"PRIMARY_KEYS": {
				"type": "string",
				"defaultValue": "SOURCEIDENTIFIER,SOURCESYSTEM,SOURCEIDENTIFIERTYPE"
			},
			"IN_BATCH_NM": {
				"type": "string",
				"defaultValue": "XREF_REFERENCE_LOAD"
			},
			"LAST_UPDATED_TS": {
				"type": "string",
				"defaultValue": "LastUpdateDateTime"
			}
		},
		"variables": {
			"MAX_LAST_TS": {
				"type": "String"
			},
			"NEW_MDM_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/MDM_PUBLISH"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-30T11:44:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}