pipeline/MDM_OMNI_EASE_FRAMEWORK_MDMU.json
{
	"name": "MDM_OMNI_EASE_FRAMEWORK_MDMU",
	"properties": {
		"activities": [
			{
				"name": "GetMDMLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_LOADID('INITIATED','@{pipeline().parameters.IN_BATCH_NM}',0)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NEW_LOAD_ID_ASSIGN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetMDMLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "NEW_MDM_LOAD_ID",
					"value": {
						"value": "@string(activity('GetMDMLoadId').output.firstRow.PRC_MDM_ETL_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DELTA",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "NEW_LOAD_ID_ASSIGN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_MDM.PRC_OMNI_EASE_AUDIT_DELTA(@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_DELTA}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "EASEOMNI_DELTA",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PREV",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DELTA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_MDM.PRC_OMNI_EASE_AUDIT_PREV(@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_PREV}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "EASEOMNI_PREV",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "INITIATE_AZURE_LANDING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "select SOURCE_SYSTEM  \n,SOURCE_KEY\n,PART_ACCOUNT_STATUS\n,PART_TYPE\n,PART_TIN \n,NVL(PART_BIRTH_DATE,NULL) as PART_BIRTH_DATE\n,PART_GENDER\n,PART_FULL_NAME\n,PART_FIRST_NAME\n,PART_LAST_NAME\n,PART_MIDDLE_NAME\n,PART_SUFFIX_TITLE\n,PART_ADDRESS_LINE1\n,PART_ADDRESS_LINE2\n,PART_ADDRESS_LINE3\n,PART_CITY\n,PART_STATE\n,PART_POSTAL_CODE\n,PART_COUNTRY\n,PART_EMAIL\n,PART_PHONE\n,PART_MARITAL_STATUS\n,CHECK_SUM                   \n,CHANGE_CODE                 \n,SWFDL_LOAD_ID      \n,SWFDL_CREATED_TS                         \n,SWFDL_CREATED_BY\n,SWFDL_UPDATED_TS                                                 \n,SWFDL_UPDATED_BY                                                  \nfrom MYVOYAGE_MDM.RS_SOMNI_DC_PARTICIPANT_DAILY_DELTA",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "vesstzuc1unitedm004_SF_SAS",
							"type": "LinkedServiceReference"
						},
						"path": "snowflakeextstaging/sftosql_ease_omni"
					},
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SOURCE_SYSTEM",
									"type": "String"
								},
								"sink": {
									"name": "SOURCE_SYSTEM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SOURCE_KEY",
									"type": "String"
								},
								"sink": {
									"name": "SOURCE_KEY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "PART_TYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_TIN",
									"type": "String"
								},
								"sink": {
									"name": "PART_TIN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_BIRTH_DATE"
								},
								"sink": {
									"name": "PART_BIRTH_DATE"
								}
							},
							{
								"source": {
									"name": "PART_GENDER",
									"type": "String"
								},
								"sink": {
									"name": "PART_GENDER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_FULL_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PART_FULL_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_FIRST_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PART_FIRST_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_LAST_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PART_LAST_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_MIDDLE_NAME",
									"type": "String"
								},
								"sink": {
									"name": "PART_MIDDLE_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_SUFFIX_TITLE",
									"type": "String"
								},
								"sink": {
									"name": "PART_SUFFIX_TITLE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE1",
									"type": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE2",
									"type": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE3",
									"type": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_CITY",
									"type": "String"
								},
								"sink": {
									"name": "PART_CITY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_STATE",
									"type": "String"
								},
								"sink": {
									"name": "PART_STATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_POSTAL_CODE",
									"type": "String"
								},
								"sink": {
									"name": "PART_POSTAL_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_COUNTRY",
									"type": "String"
								},
								"sink": {
									"name": "PART_COUNTRY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMAIL",
									"type": "String"
								},
								"sink": {
									"name": "PART_EMAIL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_PHONE",
									"type": "String"
								},
								"sink": {
									"name": "PART_PHONE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PART_MARITAL_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "PART_MARITAL_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CHECK_SUM",
									"type": "String"
								},
								"sink": {
									"name": "CHECK_SUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CHANGE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "CHANGE_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "Int64"
								},
								"sink": {
									"name": "batch_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "DateTime"
								},
								"sink": {
									"name": "createDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "createdBy",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "DateTime"
								},
								"sink": {
									"name": "lastUpdateDateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "lastUpdatedBy",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "EASEOMNI_DELTA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EASEOMNI_DELTA_STG",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "INITIATE_AZURE_LANDING",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PREV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_AUDIT('INITIATED',@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_DELTA_STG}',null,null,NULL,NULL,NULL,NULL);",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPLETE_AZURE_LANDING",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_AUDIT('COMPLETED',@{variables('NEW_MDM_LOAD_ID')},'@{pipeline().parameters.IN_BATCH_NM}','@{pipeline().parameters.ENTITY_NM_DELTA_STG}',null,null,@{activity('Copy data1').output.RowsRead},@{activity('Copy data1').output.rowsCopied},NULL,NULL);",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_ETL_AUDIT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "COMPLETE_LOADID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "COMPLETE_AZURE_LANDING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL MYVOYAGE_MDM.PRC_MDM_ETL_LOADID('COMPLETED','@{pipeline().parameters.IN_BATCH_NM}',@{variables('NEW_MDM_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "MDM_LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "NULL_EASEOMNI",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "DF_EASE_OMNI_PERSON_TGT_copy1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "COMPLETE_LOADID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_EASE_OMNI_PERSON",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "DF_Address_Ease_Omni_insert",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "DF_EASE_OMNI_PERSON_TGT_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Address_Ease_Omni_insert",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"IN_BATCH_NM": {
				"type": "string",
				"defaultValue": "OMNI_EASE_MDM_LOAD"
			},
			"ENTITY_NM_DELTA": {
				"type": "string",
				"defaultValue": "RS_SOMNI_DC_PARTICIPANT_DAILY_DELTA"
			},
			"ENTITY_NM_PREV": {
				"type": "string",
				"defaultValue": "RS_SOMNI_DC_PARTICIPANT_DAILY_PREV"
			},
			"ENTITY_NM_DELTA_STG": {
				"type": "string",
				"defaultValue": "RS_SOMNI_DC_PARTICIPANT_DAILY_DELTA_STG"
			}
		},
		"variables": {
			"NEW_MDM_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/EASEOMNI"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-26T12:22:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}