pipeline/MVY_SFMC_ANALYTICS_TRACKING_STATUSCHANGE_bkp.json
{
	"name": "MVY_SFMC_ANALYTICS_TRACKING_STATUSCHANGE_bkp",
	"properties": {
		"activities": [
			{
				"name": "OnPrem_to_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOAD_ID_ASSIGN_NEW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": {
									"value": "@variables('INGESTION_LOAD_ID')",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "@{pipeline().Pipeline}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "@{pipeline().Pipeline}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-09-25T00:00:00Z",
							"enablePartitionDiscovery": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sterling_SFMC",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat(pipeline().parameters.FileName,'_',replace(substring(addDays(utcNow(),-6),0,10),'-',''),'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SF_COMMON_STAGE_PIPE_NOQUOTE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "RAW_FILE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_ETL_RAW_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_RAW').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_RAW').output.RowsRead},@{activity('OnPrem_to_RAW').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"SFMC_ANALYTICS_TRACKING_STATUSCHANGE_STG\" ( \"CLIENTID\", \"SUBSCRIBERKEY\", \"EMAILADDRESS\", \"SUBSCRIBERID\", \"OLDSTATUS\", \"NEWSTATUS\", \"DATECHANGED\", \"SWFDL_LOAD_ID\",\"SWFDL_CREATED_BY\",\"SWFDL_CREATED_TS\",\"SWFDL_UPDATED_BY\",\"SWFDL_UPDATED_TS\") \nFROM (select $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/SFMC/ANALYTICS_TRACKING/SFMC_ANALYTICS_TRACKING_STATUSCHANGE.csv (file_format => 'MYVOYAGE_CLEANSED.MYCSVFMT_HDROFF_PIPE')) FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = ABORT_STATEMENT;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"STG_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME)",
								"type": "Expression"
							},
							"STG_SCHEMA_NAME": "MYVOYAGE_STAGE"
						}
					}
				}
			},
			{
				"name": "SF_STG_TABLE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),int(string(mul(activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.billingReference.billableDuration[0].duration,3600)))),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_parsed},@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_loaded})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_CLN')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "STG_TO_CLN_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SF_STG_TABLE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_2_CLN_LOAD ('@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}','@{pipeline().parameters.ENTITY_NAME}',@{variables('INGESTION_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_STG')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					}
				}
			},
			{
				"name": "GetLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_GET_LOADID('@{pipeline().parameters.ENTITY_NAME}','@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LOAD_ID_ASSIGN_NEW",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGESTION_LOAD_ID",
					"value": {
						"value": "@string(activity('GetLoadID').output.firstRow.PRC_MVY_GET_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Move_File_To_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "STG_TO_CLN_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SF_COMMON_STAGE_PIPE_NOQUOTE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_ARCHIVE_FILE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NM": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"LOB": {
								"value": "@pipeline().parameters.LOB",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFile",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move_File_To_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SF_COMMON_STAGE_PIPE_NOQUOTE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "snowflakeextstaging/Archive/Retirement"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "STATUSCHANGE"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "SFMC"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "INCREMENTAL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "ANALYTICS_TRACKING"
			},
			"SF_STAGE_ROOT_DIR": {
				"type": "string",
				"defaultValue": "snowflakeextstaging"
			},
			"ADLS_LANDING_ROOT_DIR": {
				"type": "string",
				"defaultValue": "vesstzuc1unitedm001/landing"
			},
			"LOB": {
				"type": "string",
				"defaultValue": "rs"
			},
			"SNOWFLAKE_EXT_STAGE_DIR": {
				"type": "string",
				"defaultValue": "@MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "STATUSCHANGE"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR1/Others/728527"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-19T09:05:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}