pipeline/MVY_OLTP_BPS_CLIENT_CONTROL.json
{
	"name": "MVY_OLTP_BPS_CLIENT_CONTROL",
	"properties": {
		"activities": [
			{
				"name": "OnPrem_to_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOAD_ID_ASSIGN_NEW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": {
									"value": "@variables('INGESTION_LOAD_ID')",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "@{pipeline().Pipeline}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "@{pipeline().Pipeline}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "select * from BPS.CLIENT_CONTROL",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CLIENT_ID",
									"type": "String"
								},
								"sink": {
									"name": "CLIENT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CONTROL_TYPE",
									"type": "String"
								},
								"sink": {
									"name": "CONTROL_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ALTERNATE_SECURITY_ALLOWED",
									"type": "String"
								},
								"sink": {
									"name": "ALTERNATE_SECURITY_ALLOWED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SHOW_GENEX",
									"type": "String"
								},
								"sink": {
									"name": "SHOW_GENEX",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SHOW_CALC",
									"type": "String"
								},
								"sink": {
									"name": "SHOW_CALC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DISPLAY_SPECIAL_HANDLING",
									"type": "String"
								},
								"sink": {
									"name": "DISPLAY_SPECIAL_HANDLING",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DATA_SOURCE_FLAG",
									"type": "String"
								},
								"sink": {
									"name": "DATA_SOURCE_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CLIENT_MSG_AVAIL",
									"type": "String"
								},
								"sink": {
									"name": "CLIENT_MSG_AVAIL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CLIENT_MSG_PHONE_NUMBER",
									"type": "String"
								},
								"sink": {
									"name": "CLIENT_MSG_PHONE_NUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REPLICATION_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "REPLICATION_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PINLESS_ENROLLMENT_ALLOWED",
									"type": "String"
								},
								"sink": {
									"name": "PINLESS_ENROLLMENT_ALLOWED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ONLINE_ADDRESS_CHANGE_ALLOWED",
									"type": "String"
								},
								"sink": {
									"name": "ONLINE_ADDRESS_CHANGE_ALLOWED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ADDR_CHG_MAIL_CONFIRM",
									"type": "String"
								},
								"sink": {
									"name": "ADDR_CHG_MAIL_CONFIRM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MASK_DISPLAY_SSN",
									"type": "String"
								},
								"sink": {
									"name": "MASK_DISPLAY_SSN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MYCORRESP_RECORDS_LINK",
									"type": "String"
								},
								"sink": {
									"name": "MYCORRESP_RECORDS_LINK",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MYCORRESP_CORRE_LINK",
									"type": "String"
								},
								"sink": {
									"name": "MYCORRESP_CORRE_LINK",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MYCORRESP_STMT_LINK",
									"type": "String"
								},
								"sink": {
									"name": "MYCORRESP_STMT_LINK",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MYCORRESP_DEL_PREFS_LINK",
									"type": "String"
								},
								"sink": {
									"name": "MYCORRESP_DEL_PREFS_LINK",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MYCORRESP_REGDOCS_LINK",
									"type": "String"
								},
								"sink": {
									"name": "MYCORRESP_REGDOCS_LINK",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ONLINE_EVAL_LAYER_DISP_ALLOWED",
									"type": "String"
								},
								"sink": {
									"name": "ONLINE_EVAL_LAYER_DISP_ALLOWED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PINLESS_ENROLL_PLAN_SEARCH_ALW",
									"type": "String"
								},
								"sink": {
									"name": "PINLESS_ENROLL_PLAN_SEARCH_ALW",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DISPLAY_AGENT_INFO",
									"type": "String"
								},
								"sink": {
									"name": "DISPLAY_AGENT_INFO",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_LOAD_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OLTP",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "RAW_FILE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_RAW_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_RAW').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_RAW').output.RowsRead},@{activity('OnPrem_to_RAW').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"OLTP_BPS_CLIENT_CONTROL_STG\" ( \"CLIENT_ID\",\"CONTROL_TYPE\",\"ALTERNATE_SECURITY_ALLOWED\",\"SHOW_GENEX\",\"SHOW_CALC\",\"DISPLAY_SPECIAL_HANDLING\",        \"DATA_SOURCE_FLAG\",\"CLIENT_MSG_AVAIL\",\"CLIENT_MSG_PHONE_NUMBER\",\"REPLICATION_UPDATE_DATE\",\"PINLESS_ENROLLMENT_ALLOWED\",\"ONLINE_ADDRESS_CHANGE_ALLOWED\",\"ADDR_CHG_MAIL_CONFIRM\",\"MASK_DISPLAY_SSN\",\"MYCORRESP_RECORDS_LINK\",\"MYCORRESP_CORRE_LINK\",\"MYCORRESP_STMT_LINK\",\"MYCORRESP_DEL_PREFS_LINK\",\"MYCORRESP_REGDOCS_LINK\",\"ONLINE_EVAL_LAYER_DISP_ALLOWED\",\"PINLESS_ENROLL_PLAN_SEARCH_ALW\",\"DISPLAY_AGENT_INFO\",\"SWFDL_LOAD_ID\", \"SWFDL_CREATED_BY\", \"SWFDL_CREATED_TS\",\"SWFDL_UPDATED_BY\",\"SWFDL_UPDATED_TS\") FROM (select $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13 ,$14, $15, $16, $17, $18, $19, $20, $21, $22, $23, $24, $25, $26, $27 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/OLTP/BPS/OLTP_BPS_CLIENT_CONTROL.csv (file_format => 'MYVOYAGE_CONFORM.MYCSVFMT_HDROFF')) FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = ABORT_STATEMENT;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"STG_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME)",
								"type": "Expression"
							},
							"STG_SCHEMA_NAME": "MYVOYAGE_STAGE"
						}
					}
				}
			},
			{
				"name": "SF_STG_TABLE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),int(string(mul(activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.billingReference.billableDuration[0].duration,3600)))),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_parsed},@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_loaded})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_CLN')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "STG_TO_CLN_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SF_STG_TABLE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_2_CLN_LOAD ('@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}','@{pipeline().parameters.ENTITY_NAME}',@{variables('INGESTION_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_STG')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					}
				}
			},
			{
				"name": "GetLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_GET_LOADID('@{pipeline().parameters.ENTITY_NAME}','@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LOAD_ID_ASSIGN_NEW",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGESTION_LOAD_ID",
					"value": {
						"value": "@string(activity('GetLoadID').output.firstRow.PRC_MVY_GET_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Move_File_To_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "STG_TO_CLN_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_ARCHIVE_FILE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NM": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"LOB": {
								"value": "@pipeline().parameters.LOB",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFile",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move_File_To_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "snowflakeextstaging/Archive/Retirement"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "CLIENT_CONTROL"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "OLTP"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "INCREMENTAL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "BPS"
			},
			"SF_STAGE_ROOT_DIR": {
				"type": "string",
				"defaultValue": "snowflakeextstaging"
			},
			"ADLS_LANDING_ROOT_DIR": {
				"type": "string",
				"defaultValue": "vesstzuc1unitedm001/landing"
			},
			"LOB": {
				"type": "string",
				"defaultValue": "rs"
			},
			"SNOWFLAKE_EXT_STAGE_DIR": {
				"type": "string",
				"defaultValue": "@MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR1/OLTP"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-20T08:18:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}