pipeline/MVY_OLTP_BPS_PARTICIPANT_OM_ASSUMPTION.json
{
	"name": "MVY_OLTP_BPS_PARTICIPANT_OM_ASSUMPTION",
	"properties": {
		"activities": [
			{
				"name": "OnPrem_to_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOAD_ID_ASSIGN_NEW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": {
									"value": "@variables('INGESTION_LOAD_ID')",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "'@{pipeline().Pipeline}'",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "'@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}'",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "'@{pipeline().Pipeline}'",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "'@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}'",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "select * from BPS.PARTICIPANT_OM_ASSUMPTION",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CLIENT_ID",
									"type": "String"
								},
								"sink": {
									"name": "CLIENT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PARTICIPANT_ID",
									"type": "String"
								},
								"sink": {
									"name": "PARTICIPANT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ANTICIP_MONTHLY_PENSION_INCOME",
									"type": "Decimal"
								},
								"sink": {
									"name": "ANTICIP_MONTHLY_PENSION_INCOME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ANTICIP_RETIREMENT_AGE",
									"type": "Decimal"
								},
								"sink": {
									"name": "ANTICIP_RETIREMENT_AGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ASSUMED_ANN_INFLATION_RATE",
									"type": "Decimal"
								},
								"sink": {
									"name": "ASSUMED_ANN_INFLATION_RATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ASSUMED_ANN_SALARY_INC",
									"type": "Decimal"
								},
								"sink": {
									"name": "ASSUMED_ANN_SALARY_INC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "BIRTH_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "BIRTH_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CURR_ANN_BASE_SALARY",
									"type": "Decimal"
								},
								"sink": {
									"name": "CURR_ANN_BASE_SALARY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DONT_SHOW_ME_AGAIN",
									"type": "String"
								},
								"sink": {
									"name": "DONT_SHOW_ME_AGAIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ELIGIBLE_SS",
									"type": "String"
								},
								"sink": {
									"name": "ELIGIBLE_SS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LAST_SAVED_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "LAST_SAVED_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "MADLIB_COMPLETE",
									"type": "String"
								},
								"sink": {
									"name": "MADLIB_COMPLETE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_RET_ASSETS_ANN_ADDTN",
									"type": "Decimal"
								},
								"sink": {
									"name": "OUTSIDE_RET_ASSETS_ANN_ADDTN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_RET_ASSETS_CURRENT_BAL",
									"type": "Decimal"
								},
								"sink": {
									"name": "OUTSIDE_RET_ASSETS_CURRENT_BAL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_RET_ASSETS_LUMPSUM",
									"type": "Decimal"
								},
								"sink": {
									"name": "OUTSIDE_RET_ASSETS_LUMPSUM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_RET_ASSETS_MONTHLY_INC",
									"type": "Decimal"
								},
								"sink": {
									"name": "OUTSIDE_RET_ASSETS_MONTHLY_INC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PRE_RETIRE_RATE_RETURN",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRE_RETIRE_RATE_RETURN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETIREMENT_INCOME_NEEDED",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETIREMENT_INCOME_NEEDED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SURVEY_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "SURVEY_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SURVEY_HOW_DO_YOU_FEEL",
									"type": "String"
								},
								"sink": {
									"name": "SURVEY_HOW_DO_YOU_FEEL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "REPLICATION_UPDATE_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "REPLICATION_UPDATE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HEALTH_CARE_VIEW",
									"type": "String"
								},
								"sink": {
									"name": "HEALTH_CARE_VIEW",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HEALTH_CARE_AGE",
									"type": "Decimal"
								},
								"sink": {
									"name": "HEALTH_CARE_AGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HEALTH_CARE_CODE",
									"type": "String"
								},
								"sink": {
									"name": "HEALTH_CARE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HEALTH_CARE_INCOME_HSA",
									"type": "Decimal"
								},
								"sink": {
									"name": "HEALTH_CARE_INCOME_HSA",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HEALTH_CARE_INCOME_LUMPSUM",
									"type": "Decimal"
								},
								"sink": {
									"name": "HEALTH_CARE_INCOME_LUMPSUM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOCIAL_SEC_VIEW",
									"type": "String"
								},
								"sink": {
									"name": "SOCIAL_SEC_VIEW",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOCIAL_SEC_AGE",
									"type": "Decimal"
								},
								"sink": {
									"name": "SOCIAL_SEC_AGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOCIAL_SEC_EST_INCOME",
									"type": "Decimal"
								},
								"sink": {
									"name": "SOCIAL_SEC_EST_INCOME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ANTIC_LMP_SUM_PEN_BEN_RETIREM",
									"type": "Decimal"
								},
								"sink": {
									"name": "ANTIC_LMP_SUM_PEN_BEN_RETIREM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ANTICIP_ANN_PEN_BENEF_RETIREM",
									"type": "Decimal"
								},
								"sink": {
									"name": "ANTICIP_ANN_PEN_BENEF_RETIREM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EMPLOY_STATE",
									"type": "String"
								},
								"sink": {
									"name": "EMPLOY_STATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RET_SYSTEM_CODE",
									"type": "String"
								},
								"sink": {
									"name": "RET_SYSTEM_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_COLA",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_COLA",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_DOE",
									"type": "DateTime"
								},
								"sink": {
									"name": "RETSYS_DOE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_DOH",
									"type": "DateTime"
								},
								"sink": {
									"name": "RETSYS_DOH",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_YOS_YTD",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_YOS_YTD",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_YOS_SPEC",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_YOS_SPEC",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_YOS_PRIOR",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_YOS_PRIOR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_YOS_PRIOR_NY",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_YOS_PRIOR_NY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_FINAL_MTHLY_SALRY",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_FINAL_MTHLY_SALRY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PENSION_CALCULATION_METHOD",
									"type": "String"
								},
								"sink": {
									"name": "PENSION_CALCULATION_METHOD",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_SPECIAL_1_VARIABLE",
									"type": "String"
								},
								"sink": {
									"name": "RETSYS_SPECIAL_1_VARIABLE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_SPECIAL_2_VARIABLE",
									"type": "String"
								},
								"sink": {
									"name": "RETSYS_SPECIAL_2_VARIABLE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CALC_MTHLY_PEN_BEN_RETIREM",
									"type": "Decimal"
								},
								"sink": {
									"name": "CALC_MTHLY_PEN_BEN_RETIREM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OM_SECTION_EXPANDED",
									"type": "String"
								},
								"sink": {
									"name": "OM_SECTION_EXPANDED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OTHER_ACCOUNT_PROMPT",
									"type": "String"
								},
								"sink": {
									"name": "OTHER_ACCOUNT_PROMPT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OUTSIDE_RET_ASSET_PROMPT",
									"type": "String"
								},
								"sink": {
									"name": "OUTSIDE_RET_ASSET_PROMPT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OTHER_ACCOUNT_PROMPT_DATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "OTHER_ACCOUNT_PROMPT_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "RETSYS_MANDATORY_CONTRIB",
									"type": "Decimal"
								},
								"sink": {
									"name": "RETSYS_MANDATORY_CONTRIB",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOCIAL_SEC_ADDL_BENEFITS",
									"type": "Decimal"
								},
								"sink": {
									"name": "SOCIAL_SEC_ADDL_BENEFITS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOCIAL_SEC_ADDL_BENEFITS_CHG",
									"type": "String"
								},
								"sink": {
									"name": "SOCIAL_SEC_ADDL_BENEFITS_CHG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "HEALTH_CARE_MED_PREMIUM",
									"type": "Decimal"
								},
								"sink": {
									"name": "HEALTH_CARE_MED_PREMIUM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_LOAD_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OLTP",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "RAW_FILE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_RAW_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_RAW').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_RAW').output.RowsRead},@{activity('OnPrem_to_RAW').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"OLTP_BPS_PARTICIPANT_OM_ASSUMPTION_STG\" ( \"CLIENT_ID\",\"PARTICIPANT_ID\",\"ANTICIP_MONTHLY_PENSION_INCOME\",\"ANTICIP_RETIREMENT_AGE\",\"ASSUMED_ANN_INFLATION_RATE\",\"ASSUMED_ANN_SALARY_INC\",\"BIRTH_DATE\",\"CURR_ANN_BASE_SALARY\",\"DONT_SHOW_ME_AGAIN\",\"ELIGIBLE_SS\",\"LAST_SAVED_DATE\",\"MADLIB_COMPLETE\",\"OUTSIDE_RET_ASSETS_ANN_ADDTN\",\"OUTSIDE_RET_ASSETS_CURRENT_BAL\",\"OUTSIDE_RET_ASSETS_LUMPSUM\",\"OUTSIDE_RET_ASSETS_MONTHLY_INC\",\"PRE_RETIRE_RATE_RETURN\",\"RETIREMENT_INCOME_NEEDED\",\"SURVEY_DATE\",\"SURVEY_HOW_DO_YOU_FEEL\",\"REPLICATION_UPDATE_DATE\",\"HEALTH_CARE_VIEW\",\"HEALTH_CARE_AGE\",\"HEALTH_CARE_CODE\",\"HEALTH_CARE_INCOME_HSA\",\"HEALTH_CARE_INCOME_LUMPSUM\",\"SOCIAL_SEC_VIEW\",\"SOCIAL_SEC_AGE\",\"SOCIAL_SEC_EST_INCOME\",\"ANTIC_LMP_SUM_PEN_BEN_RETIREM\",\"ANTICIP_ANN_PEN_BENEF_RETIREM\",\"EMPLOY_STATE\",\"RET_SYSTEM_CODE\",\"RETSYS_COLA\",\"RETSYS_DOE\",\"RETSYS_DOH\",\"RETSYS_YOS_YTD\",\"RETSYS_YOS_SPEC\",\"RETSYS_YOS_PRIOR\",\"RETSYS_YOS_PRIOR_NY\",\"RETSYS_FINAL_MTHLY_SALRY\",\"PENSION_CALCULATION_METHOD\",\"RETSYS_SPECIAL_1_VARIABLE\",\"RETSYS_SPECIAL_2_VARIABLE\",\"CALC_MTHLY_PEN_BEN_RETIREM\",\"OM_SECTION_EXPANDED\",\"OTHER_ACCOUNT_PROMPT\",\"OUTSIDE_RET_ASSET_PROMPT\",\"OTHER_ACCOUNT_PROMPT_DATE\",\"RETSYS_MANDATORY_CONTRIB\",\"SOCIAL_SEC_ADDL_BENEFITS\",\"SOCIAL_SEC_ADDL_BENEFITS_CHG\",\"HEALTH_CARE_MED_PREMIUM\",\"SWFDL_LOAD_ID\",\"SWFDL_CREATED_BY\",\"SWFDL_CREATED_TS\",\"SWFDL_UPDATED_BY\",\"SWFDL_UPDATED_TS\") FROM (select $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22, $23, $24, $25, $26, $27, $28, $29, $30, $31, $32, $33, $34, $35, $36, $37, $38, $39, $40, $41, $42, $43, $44, $45, $46, $47, $48, $49, $50, $51, $52, $53, $54, $55, $56, $57, $58 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/OLTP/BPS/OLTP_BPS_PARTICIPANT_OM_ASSUMPTION.csv (file_format => 'MYVOYAGE_CONFORM.MYCSVFMT_HDROFF')) FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = ABORT_STATEMENT;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"STG_TABLE_NAME": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME)",
							"STG_SCHEMA_NAME": "MYVOYAGE_STAGE"
						}
					}
				}
			},
			{
				"name": "SF_STG_TABLE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),int(string(mul(activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.billingReference.billableDuration[0].duration,3600)))),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_parsed},@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_loaded})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_CLN')",
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "STG_TO_CLN_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SF_STG_TABLE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_2_CLN_LOAD ('@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}','@{pipeline().parameters.ENTITY_NAME}',@{variables('INGESTION_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_STG')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					}
				}
			},
			{
				"name": "GetLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_GET_LOADID('@{pipeline().parameters.ENTITY_NAME}','@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LOAD_ID_ASSIGN_NEW",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGESTION_LOAD_ID",
					"value": {
						"value": "@string(activity('GetLoadID').output.firstRow.PRC_MVY_GET_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Move_File_To_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "STG_TO_CLN_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_ARCHIVE_FILE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NM": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"LOB": {
								"value": "@pipeline().parameters.LOB",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFile",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move_File_To_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "snowflakeextstaging/Archive/Retirement"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "PARTICIPANT_OM_ASSUMPTION"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "OLTP"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "INCREMENTAL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "BPS"
			},
			"SF_STAGE_ROOT_DIR": {
				"type": "string",
				"defaultValue": "snowflakeextstaging"
			},
			"ADLS_LANDING_ROOT_DIR": {
				"type": "string",
				"defaultValue": "vesstzuc1unitedm001/landing"
			},
			"LOB": {
				"type": "string",
				"defaultValue": "rs"
			},
			"SNOWFLAKE_EXT_STAGE_DIR": {
				"type": "string",
				"defaultValue": "@MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR1/OLTP"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-20T08:18:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}