pipeline/MVY_EASEOMNI_FULL3.json
{
	"name": "MVY_EASEOMNI_FULL3",
	"properties": {
		"activities": [
			{
				"name": "RAW_FILE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_RAW_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_RAW').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_RAW').output.RowsRead},@{activity('OnPrem_to_RAW').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"RS_SOMNI_DC_PARTICIPANT_DAILY_STG\"( \"CLIENT_ID\", \"PLAN_NUMBER\", \"PLAN_SYSTEM_KEY\", \"PART_AGREEMENT_SYSTEM_KEY\", \"PART_ACCOUNT_NUMBER\", \"PART_ACCOUNT_COMPANY_CODE\", \"SOURCE_SYSTEM\", \"PART_ACCOUNT_PROD_CODE\", \"PART_ACCOUNT_PROD_SHORT_NAME\", \"PART_ACCOUNT_TYPE_CODE\", \"PART_ACCOUNT_TYPE\", \"PART_ACCOUNT_PLAN_CODE\", \"PART_ACCOUNT_STATUS_CODE\", \"PART_ACCOUNT_STATUS\", \"PART_ACCOUNT_STATUS_DATE\", \"PART_TYPE\", \"PART_ACCOUNT_PLAN_ENTRY_DATE\", \"PART_EMPLOYMENT_TERM_DATE\", \"PART_HIRE_DATE\", \"PART_TIN\", \"PART_TIN_LAST_FOUR\", \"PART_BIRTH_DATE\", \"PART_AGE\", \"PART_GENDER_CODE\", \"PART_GENDER\", \"PART_PERSON_FLAG\", \"PART_FULL_NAME\", \"PART_FIRST_NAME\", \"PART_LAST_NAME\", \"PART_MIDDLE_NAME\", \"PART_SUFFIX_TITLE\", \"PART_ADDRESS_LINE1\", \"PART_ADDRESS_LINE2\", \"PART_ADDRESS_LINE3\", \"PART_CITY\", \"PART_STATE\", \"PART_POSTAL_CODE\", \"PART_COUNTRY\", \"PART_LOB\", \"PART_AUTO_ENROLLED\", \"DEFAULT_ENROLLED_QDIA\", \"PART_HARDHSHIP_SUSPENSION_DATE\", \"PART_EMAIL\", \"PART_PHONE\", \"PARTICIPANT_YEARS_OF_SERVICE\", \"PART_YTD_HOURS_WORKED\", \"PART_LOCATION_CODE\", \"PART_REHIRE_DATE\", \"PART_EMPLOYEE_ID\", \"PART_CATCHUP_ELIGIBLE\", \"PART_MARITAL_STATUS\", \"PART_HCE_STATUS\", \"PART_16B_STATUS\", \"PART_QDRO_STATUS\", \"PART_INSTALLMENT_STATUS\",\"SWFDL_LOAD_ID\", \"SWFDL_CREATED_BY\",\"SWFDL_CREATED_TS\", \"SWFDL_UPDATED_BY\", \"SWFDL_UPDATED_TS\") FROM (select $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13 ,$14, $15, $16, $17, $18, $19, $20, $21, $22, $23, $24, $25, $26, $27, $28, $29, $30, $31, $32, $33, $34, $35, $36, $37, $38, $39, $40, $41, $42, $43, $44, $45, $46, $47, $48, $49, $50, $51, $52, $53, $54, $55, $56, $57, $58, $59, $60 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/RS_SOMNI/DC/RS_SOMNI_DC_PARTICIPANT_DAILY.csv(file_format => 'MYVOYAGE_CLEANSED.MYCSVFMT_DOUBLEQUOTE_HDROFF'))FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = ABORT_STATEMENT; ",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"STG_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME)",
								"type": "Expression"
							},
							"STG_SCHEMA_NAME": "MYVOYAGE_STAGE"
						}
					}
				}
			},
			{
				"name": "SF_STG_TABLE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_STG_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),int(string(mul(activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.billingReference.billableDuration[0].duration,3600)))),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_parsed},@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_loaded})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_CLN')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "STG_TO_CLN_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SF_STG_TABLE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.PRC_MVY_ETL_STG_2_CLN_LOAD ('@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}','@{pipeline().parameters.ENTITY_NAME}',@{variables('INGESTION_LOAD_ID')})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SNOWFLAKE_MYVOYAGE_CLEANSED",
						"type": "DatasetReference",
						"parameters": {
							"CLN_TABLE_NAME": {
								"value": "@concat(pipeline().parameters.SRC_SYS_NM,'_',pipeline().parameters.SRC_SCHEMA_NM,'_',pipeline().parameters.ENTITY_NAME,'_STG')",
								"type": "Expression"
							},
							"CLN_SCHEMA_NAME": "MYVOYAGE_CLEANSED"
						}
					}
				}
			},
			{
				"name": "GetLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_GET_LOADID('@{pipeline().parameters.ENTITY_NAME}','@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LOAD_ID_ASSIGN_NEW",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGESTION_LOAD_ID",
					"value": {
						"value": "@string(activity('GetLoadID').output.firstRow.PRC_MVY_GET_LOADID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Move_File_To_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "STG_TO_CLN_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_ARCHIVE_FILE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NM": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"LOB": {
								"value": "@pipeline().parameters.LOB",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFile",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move_File_To_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SF_COMMON_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SYS_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "snowflakeextstaging/Archive/Retirement"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "MOVE TO ONE FILE ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOAD_ID_ASSIGN_NEW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"disableChunking": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SFTP_EASE_OMNI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EASEOMNI_ONE_COL_SRC",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "OnPrem_to_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MOVE TO ONE FILE ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": {
									"value": "@variables('INGESTION_LOAD_ID')",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "@{formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:ss.fff')}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CLIENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CLIENT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PLAN_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PLAN_NUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PLAN_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PLAN_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_AGREEMENT_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_AGREEMENT_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_NUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_COMPANY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_COMPANY_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOURCE_SYSTEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SOURCE_SYSTEM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PROD_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PROD_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PROD_SHORT_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PROD_SHORT_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PLAN_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PLAN_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PLAN_ENTRY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PLAN_ENTRY_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMPLOYMENT_TERM_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_EMPLOYMENT_TERM_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_HIRE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_HIRE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_TIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_TIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_TIN_LAST_FOUR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_TIN_LAST_FOUR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_BIRTH_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_BIRTH_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_AGE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_AGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_GENDER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_GENDER_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_GENDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_GENDER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_PERSON_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_PERSON_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_FULL_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_FULL_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_FIRST_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_FIRST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_LAST_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_LAST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_MIDDLE_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_MIDDLE_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_SUFFIX_TITLE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_SUFFIX_TITLE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_CITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_CITY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_STATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_STATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_POSTAL_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_POSTAL_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_COUNTRY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_COUNTRY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_LOB",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_LOB",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_AUTO_ENROLLED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_AUTO_ENROLLED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEFAULT_ENROLLED_QDIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEFAULT_ENROLLED_QDIA",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_HARDHSHIP_SUSPENSION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_HARDHSHIP_SUSPENSION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMAIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_EMAIL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_PHONE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_PHONE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PARTICIPANT_YEARS_OF_SERVICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PARTICIPANT_YEARS_OF_SERVICE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_YTD_HOURS_WORKED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_YTD_HOURS_WORKED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_LOCATION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_LOCATION_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_REHIRE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_REHIRE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMPLOYEE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_EMPLOYEE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_CATCHUP_ELIGIBLE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_CATCHUP_ELIGIBLE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_MARITAL_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_MARITAL_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_HCE_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_HCE_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_16B_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_16B_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_QDRO_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_QDRO_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_INSTALLMENT_STATUS\r",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_INSTALLMENT_STATUS\r",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_LOAD_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EASEOMNI_ONE_COL_TGT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_COMMON_STAGE_Pipe",
						"type": "DatasetReference",
						"parameters": {
							"SRC_SYS_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"SRC_SCHEMA_NM": {
								"value": "@pipeline().parameters.SRC_SCHEMA_NM",
								"type": "Expression"
							},
							"ENTITY_NAME": {
								"value": "@pipeline().parameters.ENTITY_NAME",
								"type": "Expression"
							},
							"SF_STAGE_ROOT_DIR": {
								"value": "@pipeline().parameters.SF_STAGE_ROOT_DIR",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "PARTICIPANT_DAILY"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "RS_SOMNI"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "INCREMENTAL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "DC"
			},
			"SF_STAGE_ROOT_DIR": {
				"type": "string",
				"defaultValue": "snowflakeextstaging"
			},
			"ADLS_LANDING_ROOT_DIR": {
				"type": "string",
				"defaultValue": "vesstzuc1unitedm001/landing"
			},
			"LOB": {
				"type": "string",
				"defaultValue": "rs"
			},
			"SNOWFLAKE_EXT_STAGE_DIR": {
				"type": "string",
				"defaultValue": "@MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/EASEOMNI"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-26T12:22:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}