pipeline/MYV_STG_MAX_CLN_FULL_LOAD.json
{
	"name": "MYV_STG_MAX_CLN_FULL_LOAD",
	"properties": {
		"activities": [
			{
				"name": "CheckLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "select  NVL(t1.LOAD_ID,'-1') as LOAD_ID from (\n(select max(LOAD_ID) as LOAD_ID from \"MYVOYAGE_UNIT\".\"MYVOYAGE_CLEANSED\".\"MVY_ETL_AUDIT\" \nwhere entity_nm='@{pipeline().parameters.ENTITY_NAME}' \nand src_sys_nm='@{pipeline().parameters.SRC_SYS_NM}' \nand (RAW_LOAD_END_TS is null or STG_LOAD_END_TS is null or CLN_LOAD_END_TS is null)) t1\nleft outer join  (select -1 as LOAD_ID from dual) t2\non t1.LOAD_ID=t2.LOAD_ID)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Assign_INGESTION_LOAD_ID",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(activity('CheckLoadID').output.firstRow.LOAD_ID),'-1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "INGESTION_LOAD_ID_ASSIGN_OLD",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "INGESTION_LOAD_ID",
								"value": {
									"value": "@activity('CheckLoadID').output.firstRow.LOAD_ID",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LOAD_ID_ASSIGN_NEW",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "NewLoadID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "INGESTION_LOAD_ID",
								"value": {
									"value": "@string(activity('NewLoadID').output.firstRow.NEXTVAL)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NewLoadID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": "select MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.CLEANSED_LOAD_ID_SEQ.nextval from dual;",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "SnowflakeTable9",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "RAW_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_CLN_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_ADLS').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_ADLS').output.executionDetails[0].start,activity('OnPrem_to_ADLS').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_ADLS').output.RowsRead},@{activity('OnPrem_to_ADLS').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "OnPrem_to_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assign_INGESTION_LOAD_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": "11"
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 11
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 12
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 13
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 14
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 14
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 15
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 15
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 16
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 16
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 17
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 17
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 18
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 18
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 19
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 19
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 20
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 20
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 21
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 21
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 22
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 22
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 23
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 23
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 24
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 24
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 25
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 25
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 26
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 26
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 27
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 27
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 28
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 28
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 29
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 29
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 30
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 30
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 31
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 31
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 32
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 32
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 33
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 33
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 34
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 34
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 35
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 35
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 36
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 36
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 37
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 37
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 38
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 38
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 39
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 39
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 40
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 40
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 41
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 41
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 42
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 42
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 43
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 43
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 44
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 45
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 46
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 47
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 48
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_MAX_SFTP_FL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "onprem_to_adls_max_FL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "COPY_ADLS_TO_STG_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"EB_MAX_DGTAL_PERSN_INFO_STG\" (\"GBP_NUMBER\",\"PERSON_TECHID\",\"TITLE\",\"FNAME\",\"MNAME1\",\"MNAME2\",\"LNAME\",\"NAMESUFFIX\",\"DOB\",\"GENDER\",\"SSN\",\"P_A_COUNTRY\",\"P_A_CAREOF\",\"P_A_MAILLINE1\",\"P_A_MAILLINE2\",\"P_A_CITY\",\"P_A_STATE\",\"P_A_POSTALCODE\",\"P_A_COUNTY\",\"P_A_ROUTENUMBER\",\"P_A_PHONE\",\"P_A_CELLPHONE\",\"P_A_FAX\",\"P_A_TOLLFREENUMBER\",\"P_A_SPEEDDIALNUMBER\",\"P_A_EMAIL\",\"P_A_EFFECTIVEDATE\",\"S_A_COUNTRY\",\"S_A_CAREOF\",\"S_A_MAILLINE1\",\"S_A_MAILLINE2\",\"S_A_CITY\",\"S_A_STATE\",\"S_A_POSTALCODE\",\"S_A_COUNTY\",\"S_A_ROUTENUMBER\",\"S_A_PHONE\",\"S_A_CELLPHONE\",\"S_A_FAX\",\"S_A_TOLLFREENUMBER\",\"S_A_SPEEDDIALNUMBER\",\"S_A_EMAIL\",\"S_A_EFFECTIVEDATE\",\"SWFDL_LOAD_ID\",\"SWFDL_CREATED_BY\",\"SWFDL_CREATED_TS\",\"SWFDL_UPDATED_BY\",\"SWFDL_UPDATED_TS\") FROM (select $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22, $23, $24, $25, $26, $27, $28, $29, $30, $31, $32, $33, $34, $35, $36, $37, $38, $39, $40, $41, $42, $43, $44, $45, $46, $47, $48 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/FL_max.csv\n(file_format =>  'MYVOYAGE_CLEANSED.MYCSVFMT_NOHDR'))FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = CONTINUE;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SF_max_Stg",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "DAILY_PART_HEADER"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "EB_MAX"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "VIPS"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/MAX"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-26T12:22:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}