pipeline/MYV_RS_OMNI_VIPS_DAILY_PART_HEADER.json
{
	"name": "MYV_RS_OMNI_VIPS_DAILY_PART_HEADER",
	"properties": {
		"activities": [
			{
				"name": "GetLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_CLEANSED.PRC_MVY_GET_LOADID('@{pipeline().parameters.ENTITY_NAME}','@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_RAW_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_RAW').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_RAW').output.RowsRead},@{activity('OnPrem_to_RAW').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"RS_OMNI_VIPS_DAILY_PART_HEADER_STG\"( \"WS_EXT_PH_PLAN_NUM\",\"WS_EXT_PH_PART_NUM\",\"WS_EXT_PH_NAME\",\"WS_EXT_PH_PART_DIV_SUB\",\"WS_EXT_PH_BRTH_DATE\",\"WS_EXT_PH_PLENT_DATE\",\n\"WS_EXT_PH_ADDR_L1\",\"WS_EXT_PH_ADDR_L2\",\"WS_EXT_PH_ADDR_L3\",\"WS_EXT_PH_CITY\",\"WS_EXT_PH_STATE\",\"WS_EXT_PH_ZIP\",\"WS_EXT_PH_STAT\",\n\"WS_EXT_PH_TERM_DATE\",\"WS_EXT_PH_LAST_CNTRB_DATE\",\"WS_EXT_PH_STAT_REASON\",\"WS_EXT_PH_LOC_TAX_CODE\",\"WS_EXT_PH_ALT_STATE\",\n\"WS_EXT_PH_FIRST_CNTRB_DATE\",\"WS_EXT_PH_ATTAINED_AGE\",\"WS_EXT_PH_PF999_BAL\",\"WS_EXT_PH_PA999_BAL\",\"WS_EXT_PH_ADV_ACCT_IND\",\"WS_EXT_PH_OMNI_VERSION\",\"WS_EXT_PH_VRR_PL_STATUS\",\"WS_EXT_PH_VRR_PL_TERM\",\"WS_EXT_PH_CONV_PL_NUM\",\"WS_EXT_PH_CLIENT_ID\",\"WS_EXT_PH_SUB_CLIENT_ID\",\n\"WS_EXT_PH_SSO_CLIENT_ID\",\"WS_EXT_PH_CLIENT_STATUS\",\"SWFDL_LOAD_ID\",\"SWFDL_CREATED_BY\",\"SWFDL_CREATED_TS\",\"SWFDL_UPDATED_BY\",\"SWFDL_UPDATED_TS\") FROM (select $1,  $2, $3,$4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17,$18, $19, $20, $21, $22, $23 ,$24, $25, $26, $27, $28, $29, $30, $31,$32,$33,$34,$35,$36 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/RS_OMNI_VIPS_DAILY_PART_HEADER.csv\n (file_format => 'MYVOYAGE_CONFORM.MYCSVFMT_HDROFF'))FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = ABORT_STATEMENT;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Ds_adls_omni_sf",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SF_STG_TABLE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_STG_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),int(string(mul(activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.billingReference.billableDuration[0].duration,3600)))),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_parsed},@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_loaded})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "STG_TO_CLN_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SF_STG_TABLE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MYV_ETL_STG_2_CLN_LOAD (@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}','@{pipeline().parameters.ENTITY_NAME}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "DS_OMNI_CLN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "OnPrem_to_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOAD_ID_ASSIGN_NEW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": {
									"value": "@variables('INGESTION_LOAD_ID')",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WS_EXT_PH_PLAN_NUM",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_PLAN_NUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_PART_NUM",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_PART_NUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_NAME",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_PART_DIV_SUB",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_PART_DIV_SUB",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_BRTH_DATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_BRTH_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_PLENT_DATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_PLENT_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ADDR_L1",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ADDR_L1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ADDR_L2",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ADDR_L2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ADDR_L3",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ADDR_L3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_CITY",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_CITY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_STATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_STATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ZIP",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ZIP",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_STAT",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_STAT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_TERM_DATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_TERM_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_LAST_CNTRB_DATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_LAST_CNTRB_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_STAT_REASON",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_STAT_REASON",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_LOC_TAX_CODE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_LOC_TAX_CODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ALT_STATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ALT_STATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_FIRST_CNTRB_DATE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_FIRST_CNTRB_DATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ATTAINED_AGE",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ATTAINED_AGE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_PF999_BAL",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_PF999_BAL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_PA999_BAL",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_PA999_BAL",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_ADV_ACCT_IND",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_ADV_ACCT_IND",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_OMNI_VERSION",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_OMNI_VERSION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_VRR_PL_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_VRR_PL_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_VRR_PL_TERM",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_VRR_PL_TERM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_CONV_PL_NUM",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_CONV_PL_NUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_CLIENT_ID",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_CLIENT_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_SUB_CLIENT_ID",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_SUB_CLIENT_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_SSO_CLIENT_ID",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_SSO_CLIENT_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "WS_EXT_PH_CLIENT_STATUS",
									"type": "String"
								},
								"sink": {
									"name": "WS_EXT_PH_CLIENT_STATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SFTP_omni_ADLS_SRC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SFTP_omni_ADLS_TGT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LOAD_ID_ASSIGN_NEW",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "INGESTION_LOAD_ID",
					"value": {
						"value": "@string(activity('GetLoadID').output.firstRow.PRC_MVY_GET_LOADID)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "DAILY_PART_HEADER"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "RS_OMNI"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "VIPS"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/OMNI"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-26T12:22:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}