pipeline/MYV_STG_EASYOMNI_CLN.json
{
	"name": "MYV_STG_EASYOMNI_CLN",
	"properties": {
		"activities": [
			{
				"name": "CheckLoadID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "select  NVL(t1.LOAD_ID,'-1') as LOAD_ID from (\n(select max(LOAD_ID) as LOAD_ID from \"MYVOYAGE_UNIT\".\"MYVOYAGE_CLEANSED\".\"MVY_ETL_AUDIT\" \nwhere entity_nm='@{pipeline().parameters.ENTITY_NAME}' \nand src_sys_nm='@{pipeline().parameters.SRC_SYS_NM}' \nand (RAW_LOAD_END_TS is null or STG_LOAD_END_TS is null or CLN_LOAD_END_TS is null)) t1\nleft outer join  (select -1 as LOAD_ID from dual) t2\non t1.LOAD_ID=t2.LOAD_ID)",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Assign_INGESTION_LOAD_ID",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckLoadID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(activity('CheckLoadID').output.firstRow.LOAD_ID),'-1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "INGESTION_LOAD_ID_ASSIGN_OLD",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "INGESTION_LOAD_ID",
								"value": {
									"value": "@activity('CheckLoadID').output.firstRow.LOAD_ID",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LOAD_ID_ASSIGN_NEW",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "NewLoadID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "INGESTION_LOAD_ID",
								"value": {
									"value": "@string(activity('NewLoadID').output.firstRow.NEXTVAL)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NewLoadID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": "select MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.CLEANSED_LOAD_ID_SEQ.nextval from dual;",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "SnowflakeTable9",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "RAW_FILE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OnPrem_to_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_RAW_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(activity('OnPrem_to_RAW').output.executionDetails[0].start,'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('OnPrem_to_RAW').output.RowsRead},@{activity('OnPrem_to_RAW').output.rowsCopied})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "COPY INTO \"MYVOYAGE_STAGE\".\"RS_SOMNI_DC_PARTICIPANT_DAILY_STG\"( \"CLIENT_ID\", \"PLAN_NUMBER\", \"PLAN_SYSTEM_KEY\", \"PART_AGREEMENT_SYSTEM_KEY\", \"PART_ACCOUNT_NUMBER\", \"PART_ACCOUNT_COMPANY_CODE\", \"SOURCE_SYSTEM\", \"PART_ACCOUNT_PROD_CODE\", \"PART_ACCOUNT_PROD_SHORT_NAME\", \"PART_ACCOUNT_TYPE_CODE\", \"PART_ACCOUNT_TYPE\", \"PART_ACCOUNT_PLAN_CODE\", \"PART_ACCOUNT_STATUS_CODE\", \"PART_ACCOUNT_STATUS\", \"PART_ACCOUNT_STATUS_DATE\", \"PART_TYPE\", \"PART_ACCOUNT_PLAN_ENTRY_DATE\", \"PART_EMPLOYMENT_TERM_DATE\", \"PART_HIRE_DATE\", \"PART_TIN\", \"PART_TIN_LAST_FOUR\", \"PART_BIRTH_DATE\", \"PART_AGE\", \"PART_GENDER_CODE\", \"PART_GENDER\", \"PART_PERSON_FLAG\", \"PART_FULL_NAME\", \"PART_FIRST_NAME\", \"PART_LAST_NAME\", \"PART_MIDDLE_NAME\", \"PART_SUFFIX_TITLE\", \"PART_ADDRESS_LINE1\", \"PART_ADDRESS_LINE2\", \"PART_ADDRESS_LINE3\", \"PART_CITY\", \"PART_STATE\", \"PART_POSTAL_CODE\", \"PART_COUNTRY\", \"PART_LOB\", \"PART_AUTO_ENROLLED\", \"DEFAULT_ENROLLED_QDIA\", \"PART_HARDHSHIP_SUSPENSION_DATE\", \"PART_EMAIL\", \"PART_PHONE\", \"PARTICIPANT_YEARS_OF_SERVICE\", \"PART_YTD_HOURS_WORKED\", \"PART_LOCATION_CODE\", \"PART_REHIRE_DATE\", \"PART_EMPLOYEE_ID\", \"PART_CATCHUP_ELIGIBLE\", \"PART_MARITAL_STATUS\", \"PART_HCE_STATUS\", \"PART_16B_STATUS\", \"PART_QDRO_STATUS\", \"PART_INSTALLMENT_STATUS\",\"SWFDL_LOAD_ID\", \"SWFDL_CREATED_BY \",\"SWFDL_CREATED_TS\",\"SWFDL_UPDATED_BY \",\"SWFDL_UPDATED_TS \") FROM (select $1,  $2, $3,$4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17,$18, $19, $20, $21, $22, $23 ,$24, $25, $26, $27, $28, $29, $30, $31,$32,$33,$34,$35,$36,$37,$38,$39,$40,$41,$42,$43,$44,$45,$46,$47,$48,$49,$50,$51,$52,$53,$54,$55,$56,$57,$58,$59,$60 from @MYVOYAGE_STAGE.EXT_STAGE_ADF_VESSTZUC1UNITEDM001/SUPER_OMNI_PARTICPANTACCOUNT_DAILY.csv\n (file_format => 'MYVOYAGE_CONFORM.MYCSVFMT_HDROFF'))FORCE = TRUE LOAD_UNCERTAIN_FILES = TRUE ON_ERROR = ABORT_STATEMENT;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Ds_adls_omni_sf",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SF_STG_TABLE_LOAD_AUDIT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "RAW_FILE_TO_SF_STG_TABLE_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_STG_AUDIT_LOAD(@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.ENTITY_NAME}','@{string(formatDateTime(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),'yyyy-MM-dd HH:mm:ss.fff'))}','@{string(formatDateTime(addSeconds(addSeconds(activity('OnPrem_to_RAW').output.executionDetails[0].start,activity('OnPrem_to_RAW').output.copyDuration),int(string(mul(activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.billingReference.billableDuration[0].duration,3600)))),'yyyy-MM-dd HH:mm:ss.fff'))}',@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_parsed},@{activity('RAW_FILE_TO_SF_STG_TABLE_LOAD').output.firstRow.rows_loaded})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "STG_TO_CLN_LOAD",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SF_STG_TABLE_LOAD_AUDIT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CLEANSED.SP_MVY_ETL_STG_2_CLN_LOAD (@{variables('INGESTION_LOAD_ID')},'@{pipeline().parameters.SRC_SYS_NM}','@{pipeline().parameters.SRC_SCHEMA_NM}','@{pipeline().parameters.ENTITY_NAME}')",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "OnPrem_to_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Assign_INGESTION_LOAD_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SWFDL_LOAD_ID",
								"value": {
									"value": "@variables('INGESTION_LOAD_ID')",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_CREATED_TS",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_BY",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "SWFDL_UPDATED_TS",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "SftpReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false,
							"disableChunking": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CLIENT_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CLIENT_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PLAN_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PLAN_NUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PLAN_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PLAN_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_AGREEMENT_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_AGREEMENT_SYSTEM_KEY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_NUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_NUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_COMPANY_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_COMPANY_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SOURCE_SYSTEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SOURCE_SYSTEM",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PROD_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PROD_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PROD_SHORT_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PROD_SHORT_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_TYPE_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PLAN_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PLAN_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_STATUS_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_STATUS_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_TYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ACCOUNT_PLAN_ENTRY_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ACCOUNT_PLAN_ENTRY_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMPLOYMENT_TERM_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_EMPLOYMENT_TERM_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_HIRE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_HIRE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_TIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_TIN",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_TIN_LAST_FOUR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_TIN_LAST_FOUR",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_BIRTH_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_BIRTH_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_AGE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_AGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_GENDER_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_GENDER_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_GENDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_GENDER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_PERSON_FLAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_PERSON_FLAG",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_FULL_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_FULL_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_FIRST_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_FIRST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_LAST_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_LAST_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_MIDDLE_NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_MIDDLE_NAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_SUFFIX_TITLE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_SUFFIX_TITLE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE1",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_ADDRESS_LINE3",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_ADDRESS_LINE3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_CITY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_CITY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_STATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_STATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_POSTAL_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_POSTAL_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_COUNTRY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_COUNTRY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_LOB",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_LOB",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_AUTO_ENROLLED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_AUTO_ENROLLED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DEFAULT_ENROLLED_QDIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEFAULT_ENROLLED_QDIA",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_HARDHSHIP_SUSPENSION_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_HARDHSHIP_SUSPENSION_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMAIL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_EMAIL",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_PHONE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_PHONE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PARTICIPANT_YEARS_OF_SERVICE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PARTICIPANT_YEARS_OF_SERVICE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_YTD_HOURS_WORKED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_YTD_HOURS_WORKED",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_LOCATION_CODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_LOCATION_CODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_REHIRE_DATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_REHIRE_DATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_EMPLOYEE_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_EMPLOYEE_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_CATCHUP_ELIGIBLE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_CATCHUP_ELIGIBLE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_MARITAL_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_MARITAL_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_HCE_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_HCE_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_16B_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_16B_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_QDRO_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_QDRO_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PART_INSTALLMENT_STATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PART_INSTALLMENT_STATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_LOAD_ID",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_LOAD_ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_CREATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_CREATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_BY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String"
								},
								"sink": {
									"name": "SWFDL_UPDATED_TS",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_onprem_Easyomni",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Easyomni",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"ENTITY_NAME": {
				"type": "string",
				"defaultValue": "DAILY_PART_HEADER"
			},
			"SRC_SYS_NM": {
				"type": "string",
				"defaultValue": "RS_SOMNI"
			},
			"INGESTION_LOAD_TS": {
				"type": "string"
			},
			"INGESTION_ETL_TYPE": {
				"type": "string",
				"defaultValue": "FULL"
			},
			"SRC_SCHEMA_NM": {
				"type": "string",
				"defaultValue": "VIPS"
			}
		},
		"variables": {
			"INGESTION_LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/EASEOMNI"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-26T12:22:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}