pipeline/OnPrem_SP.json
{
	"name": "OnPrem_SP",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT ODS_UUID.SP_MDM_PERSON_XREF from DUAL",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Person_Xref_TEST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('return_msg'),'SUCCESSFUL')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Failure happened at oracle function ",
								"errorCode": {
									"value": "@activity('Lookup1').output.firstRow.SP_MDM_PERSON_XREF",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": "select * from MYVOYAGE_MDM.MDM_ETL_AUDIT where LOAD_ID =25",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "MDM_ETL_AUDIT",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "return_msg",
					"value": {
						"value": "@string(activity('Lookup1').output.firstRow.SP_MDM_PERSON_XREF)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"return_msg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-26T12:12:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}