pipeline/ReadFIle.json
{
	"name": "ReadFIle",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "lookupSRC",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filter",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Prop_0",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "table_name",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Prop_1",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filter": {
				"type": "String"
			},
			"table_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADFMainframe"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-29T19:25:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}