pipeline/sAMPLE_Pipeline_oracle_to_SF_Omnidata_copy1.json
{
	"name": "sAMPLE_Pipeline_oracle_to_SF_Omnidata_copy1",
	"properties": {
		"activities": [
			{
				"name": "Oracle_to_ADLScontainer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LOADID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"additionalColumns": [
							{
								"name": "RAW_ETL_TYPE",
								"value": "ADF"
							},
							{
								"name": "RAW_LOAD_ID",
								"value": {
									"value": "@pipeline().parameters.LOAD_ID",
									"type": "Expression"
								}
							},
							{
								"name": "ORIGIN_ENTITY_NAME",
								"value": {
									"value": "@pipeline().parameters.ORIGIN_ENTITY_NAME",
									"type": "Expression"
								}
							},
							{
								"name": "SRC_SYS_NM",
								"value": {
									"value": "@pipeline().parameters.SRC_SYS_NM",
									"type": "Expression"
								}
							},
							{
								"name": "RAW_LOAD_TS",
								"value": {
									"value": "@pipeline().parameters.RAW_LOAD_TS",
									"type": "Expression"
								}
							}
						],
						"oracleReaderQuery": "select * from IDP_STAGE.OMNI_VIPS_DAILY_PART_HEADER where rownum<=10",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Omni_vips_daily_part_header_SRC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_ADLS_omni_sample",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "select MYVOYAGE_UNIT.MYVOYAGE_CONFORM.CONFORM_LOAD_ID_SEQ.nextval from dual;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "LOAD_ID",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LOADID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LOAD_ID",
					"value": {
						"value": "@pipeline().parameters.LOAD_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Oracle_to_ADLScontainer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "call MYVOYAGE_UNIT.MYVOYAGE_CONFORM.SP_MYVOYAGE_ETL_STG_AUDIT_TEST\n(1,1,'2022-01-12 07:53:46.916','A','@{activity('Oracle_to_ADLScontainer').output.RowsRead}');",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "SnowflakeTable4",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ORIGIN_ENTITY_NAME": {
				"type": "string"
			},
			"SRC_SYS_NM": {
				"type": "string"
			},
			"LOAD_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"RAW_LOAD_TS": {
				"type": "string"
			}
		},
		"variables": {
			"LOAD_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataConsolidationR2/728952/Test"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-07T15:30:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}